#map {
    height: 400px;
    width: 770px;
}

.card{
    margin: 5px;
}
input#restaurant{
    width: 600px
}
p{
    font-size: 12px;
}

#user-wishlist{
    
    height: 50vh;
    overflow: scroll;
}


#user-container{
    height: 100vh;
    background-color: #ffcdb2;
    overflow: hidden;
    padding-top: 5vh;
}
#user-information{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#user-information img{
    width: 200px;
    margin-bottom: 1vh;
}

#search-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#search-bar button{
    height: 35px;
    width: 10   0px;
}


#main-page{
    height: 100vh;
    padding-top: 25px;
    overflow: scroll;
    padding-left: 20px;
}
#resto-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#resto-list img{
    height: 200px;
}
::-webkit-scrollbar {
    width: 2px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}